.main-menu{
    width: 150px;
  padding: 15px 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
  background-color: #F7CAC9;
  border: 2px solid red;
  border-radius: 3px;
  color: #f6aa1c;
  transition: all 0.3s;
}